## ----------------------------------------------------------------------------
## file    : .gitignore
## brief   : specified untrack file.
## module  : dotfiles
##
## author  : Teppei Kobayashi <tkobayashi@kirisame.tech>
## date    : 2018/01/30
## ----------------------------------------------------------------------------


# initialize
/*
!install.sh
!install-after.sh

# .emacs.d
!/.emacs.d/
/.emacs.d/*
!/.emacs.d/Cask
!/.emacs.d/init.el
!/.emacs.d/inits/
!/.emacs.d/snippets/

#.zsh
!/.zsh/
/.zsh/.zcompdump
/.zsh/.zsh_cache/
/.zsh/.zplug

# others
!/conf/
!/.gitignore
!/.tmux.conf
!/.dir_colors
!/README.md

# secrets and credentials
.env_secrets
.env_secrets.*
*.localconf
*.env.local
*.key
*.pem
id_rsa*
id_dsa*
id_ecdsa*
id_ed25519*
*.p12
*.pfx
*.keystore
*.jks
